/* globals.css */

@import "tailwindcss";

:root {
    --background: #ffffff;
    --foreground: #171717;
    --color-primary: #E1161C;
    --color-secondary: #2C2262;
    --color-tertiary: #362C68;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
}
